##
# The following example will establish two BGP sessions and advertise the
# blacklists to them.
#
# This example can be used for both unicast and FlowSpec.
#
# I use a custom hold timer of 5 minutes on both ends to prevent the sessions
# from going down while pushing the initial blacklist.
#
# Note: Example for ExaBGP 3.*
##

group exabgp_voipbl {

	local-as 65000;
	peer-as 65000;

	hold-time 300;
	local-address 172.16.2.3;

	neighbor 172.16.2.1 {
		router-id  172.16.2.1;
	}

	neighbor 172.16.2.2 {
		router-id 172.16.2.2;
	}

	process exabgp_voipbl {
		run /path/to/exabgp-voipbl/voipbl.php;
	}
}
