##
# The following example will establish a BGP session with the ExaBGP peer and
# accept all unicast prefix advertisements tagged with the blackhole community.
#
# I use a custom hold timer of 5 minutes on both ends to prevent the sessions
# from going down while pushing the initial blacklist.
##

set protocols bgp group iBGP type internal
set protocols bgp group iBGP local-address 172.16.2.1

set protocols bgp group iBGP neighbor 172.16.2.3 hold-time 300
set protocols bgp group iBGP neighbor 172.16.2.3 passive
set protocols bgp group iBGP neighbor 172.16.2.3 import BLACKHOLE-IMPORT
set protocols bgp group iBGP neighbor 172.16.2.3 export NO-EXPORT
set protocols bgp group iBGP neighbor 172.16.2.3 peer-as 65000

set policy-options policy-statement BLACKHOLE-IMPORT term accept-blackhole from community BLACKHOLE
set policy-options policy-statement BLACKHOLE-IMPORT term accept-blackhole then accept
set policy-options policy-statement BLACKHOLE-IMPORT term default then reject
set policy-options policy-statement NO-EXPORT then reject

set policy-options community BLACKHOLE members 65000:666
